{% extends './_layout.html' %} {% block title %} 关于我们 {% endblock %} {% block content %}
<div class="banner-bar" style="background-image:url('//pcstatic.fhes.com/images/lowjpg/banner/06.jpg')" data-hd="//pcstatic.fhes.com/images/banner/06.jpg">
    <div class="banner-main">
        <div>关于我们</div>
        <p>About Us</p>
    </div>
</div>
<div class="other-main">
    <ul class="left-nav">
        <li id="Introduction_hash" class="active">
            <a href="#Introduction">
                <p>公司简介</p>
                <span>Company Introduction</span>
            </a>
        </li>
        <li id="News_hash">
            <a href="#News">
                <p>新闻中心</p>
                <span>News Center</span>
            </a>
        </li>
        <li id="Honor_hash">
            <a href="#Honor">
                <p>研发能力
                    <span>(荣誉资质)</span>
                </p>
                <span>Honor and Qualification</span>
            </a>
        </li>
        <!-- <li id="Investor_hash">
            <a href="#Investor">
                <p>投资者关系</p>
                <span>Investor Relations</span>
            </a>
        </li> -->
        <li id="Human_hash">
            <a href="#Human">
                <p>人力资源</p>
                <span>Human resources</span>
            </a>
        </li>
        <li id="Contact_hash">
            <a href="#Contact">
                <p>联系我们</p>
                <span>Contact Us</span>
            </a>
        </li>
    </ul>
</div>
<div class="about-main">
    <div class="right-content">
        <div class="content-block" id="Introduction">
            <div class="content-main-box">
                <div class="content-title">
                    <span class="dot-block"></span>
                    <p>公司简介</p>
                    <span>Company Introduction</span>
                </div>
                <div class="content-body">
                    <div class="text-introduction">
                        <p>浙江法赫施科技有限公司是一家提供物联网标识，一物一码赋码整体解决方案及系统集成解决方案的高科技公司。</p>
                        <p>历经16年的发展与沉淀，形成了具有独立自主知识产权的4+1产品体系，集UV技术DPS数码赋码系统，全系列激光赋码系统，惠普技术热发泡赋码系统，视觉检测四大产品体系及防伪追溯系统，互联网营销，大数据应用，自动化产线软硬件集成于一身，提供一站式的整体赋码解决方案。</p>
                        <p>公司与美国HP、日本柯尼卡、日本理光等行业优秀企业合作，不断开发精度更高，速度更快，操作更智能的产品。公司研发团队由行业资深专家带领，已拥有数十项发明专利和实用新型及软件著作权，并通过ISO9001质量管理体系认证和SGS质量管控体系认证，完善公司系统管理体系，保障了产品的一贯优良品质。至2016年已为超过两千家客户提供了各具特色的项目解决方案及配套自动化工装设备。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block bg-ef" id="News">
            <div class="content-main-box">
                <div class="content-title">
                    <span class="dot-block"></span>
                    <p>新闻中心</p>
                    <span>News Center</span>
                    <!-- <a href="/news" target="_blank">{{lang.readmore}}</a> -->
                </div>
                <div class="content-body">
                    <div class="news-view clearfix">
                        <div class="left-view">
                            <div class="top-news">
                                <a href="/news/{{ newsList[0].id }}" target="_blank">
                                    <img src="{{ newsList[0].cover }}" alt=""> {% if client_lang === 'zh'%}
                                    <p>{{ newsList[0].title }}</p>
                                    {% else %}
                                    <p>{{ newsList[0].entitle }}</p>
                                    {% endif %}
                                </a>
                            </div>
                            <div class="bottom-newslist clearfix">
                                {% for item in newsList %} {% if loop.index0 == 1 || loop.index0 == 2 || loop.index0 == 3%}
                                <div class="news-item">
                                    <a href="/news/{{item.id}}" target="_blank">
                                        <img src="{{item.cover}}" alt=""> {% if client_lang === 'zh'%}
                                        <p>{{ item.title }}</p>
                                        {% else %}
                                        <p>{{ item.entitle }}</p>
                                        {% endif %}
                                    </a>
                                </div>
                                {% endif %} {% endfor %}
                            </div>
                        </div>
                        <div class="right-view">
                            {% for item in newsList %} {% if loop.index0 != 1 && loop.index0 != 2 && loop.index0 != 3&& loop.index0 != 0%}
                            <div class="news-item">
                                <a href="/news/{{item.id}}" target="_blank">
                                    <img src="{{item.cover}}" alt=""> {% if client_lang === 'zh'%}
                                    <p>{{ item.title }}</p>
                                    {% else %}
                                    <p>{{ item.entitle }}</p>
                                    {% endif %}
                                    <span>{{= item.createtime|date('Y-m-d H:i:s', -480,'CCT') =}}</span>
                                </a>
                            </div>
                            {% endif %} {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block" id="Honor">
            <div class="content-main-box">
                <div class="content-title">
                    <span class="dot-block"></span>
                    <p>研发能力
                        <span>(荣誉资质)</span>
                    </p>
                    <span>Honor and Qualification</span>
                </div>
                <div class="content-body">
                    <div class="power-container clearfix">
                        <!-- <div class="power-left">
                            <div class="img-view-nav">
                                <div class="item item-01">专利证书</div>
                                <div class="item item-02">企业认证</div>
                                <div class="item item-03">荣誉称号</div>
                            </div>
                            <div class="img-view-content">
                                <div class="item item-01">
                                    <a class="swiper-button-prev swiper_one iconfont icon-fanhui" href="javascript:void(0)"></a>
                                    <a class="swiper-button-next swiper_one iconfont icon-gengduo" href="javascript:void(0)"></a>
                                    <div class="swiper-container" id="swiper_one">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" src="//pcstatic.fhes.com/images/cert/zhuanli_01.jpg" layer-src="//pcstatic.fhes.com/images/cert/zhuanli_01.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/zhuanli_02.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/zhuanli_03.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/zhuanli_04.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/zhuanli_05.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/zhuanli_06.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/zhuanli_07.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/zhuanli_08.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/zhuanli_09.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/zhuanli_10.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination swiper_one"></div>
                                </div>
                                <div class="item item-02">
                                    <a class="swiper-button-prev swiper_two iconfont icon-fanhui" href="javascript:void(0)"></a>
                                    <a class="swiper-button-next swiper_two iconfont icon-gengduo" href="javascript:void(0)"></a>
                                    <div class="swiper-container" id="swiper_two">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" src="//pcstatic.fhes.com/images/cert/renzheng_01.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/renzheng_02.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/renzheng_03.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination swiper_two"></div>
                                </div>
                                <div class="item item-03">
                                    <a class="swiper-button-prev swiper_three iconfont icon-fanhui" href="javascript:void(0)"></a>
                                    <a class="swiper-button-next swiper_three iconfont icon-gengduo" href="javascript:void(0)"></a>
                                    <div class="swiper-container" id="swiper_three">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" src="//pcstatic.fhes.com/images/cert/rongyu_01.jpg">
                                            </div>
                                            <div class="swiper-slide">
                                                <img class="swiper-lazy" layer-src="//pcstatic.fhes.com/images/cert/rongyu_02.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination swiper_three"></div>
                                </div>
                            </div>
                        </div> -->
                        <div class="power-left">
                            <img src="//pcstatic.fhes.com/images/cert/cert.png" layer-src="//pcstatic.fhes.com/images/cert/cert.jpg" alt="">
                        </div>
                        <div class="power-right">
                            法赫施拥有一支高学历、高素质的研发团队。在行业资深专家的带领下，凭借丰富的行业经验和刻苦钻研，取得了傲人成绩。目前研发团队已拥有数十项发明专利、实用新型及软件著作权。精度更高、速度更快，更符合市场需求的新型产品，是法赫施研发团队不懈追求。
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="content-block bg-ef" id="Investor">
            <div class="content-main-box">
                <div class="content-title">
                    <span class="dot-block"></span>
                    <p>投资者关系</p>
                    <span>Investor Relations</span>
                </div>
                <div class="content-body">
                    <div class="investor-text">
                        宁波天使投资有限公司
                        <p>　　宁波市天使投资引导基金有限公司于2013年1月成立，至2016年12月已投资市内初创企业150家，投资金额超1亿元，是由市政府设立的不以营利为目的的政策性基金，基金规模5亿元，其中市本级2亿元。其宗旨是发挥财政资金的杠杆效应和引导作用，通过引导基金的跟进投资，鼓励天使投资机构（人）对具有专门技术或独特概念的原创项目或具有发展潜力的创新型初创企业实施投资、提供高水平创业指导及配套服务，助推创新型初创企业快速成长。
                            <br>
                            <br>官网：
                            <a href="http://www.nbstf.org.cn/Manage/rzcs.jsp?flag=2">http://www.nbstf.org.cn/</a>
                        </p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="content-block" id="Human">
            <div class="content-main-box">
                <div class="content-title">
                    <span class="dot-block"></span>
                    <p>人力资源</p>
                    <span>Human resources</span>
                </div>
                <div class="content-body">
                    <!-- <div class="img-human">
                        <img src="//pcstatic.fhes.com/images/renli.jpg" alt="">
                    </div> -->
                    <div class="investor-text">
                        人才理念
                        <p>
                            法赫施——尊重每一个有理想、有激情、有态度的人。
                            <br>
                            <br>
                            <span>F —— faith</span> 忠诚
                            <br>
                            <span>H —— honest</span> 正直
                            <br>
                            <span>E —— positive</span> 积极
                            <br>
                            <span>S —— solidarity</span> 团结
                            <br>
                        </p>
                    </div>
                    <div class="investor-text">
                        工作机会
                        <p>　　法赫施事业的成长离不开每一位员工，我们致力于为每一个法赫施人提供一个合适的职业发展平台。随着业务不断拓展、深化，也需要愈来愈多的人才加盟法赫施，携手共建法赫施。真诚期待您的加入！
                            <br>简历投递方式：
                            <br>
                            <br>1.登陆我司招聘合作网站——前程无忧在线投递简历。
                            <br>2.有意者也可将简历及作品发送至：HR@fhes.com.cn
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-block bg-ef" id="Contact">
            <div class="content-main-box">
                <div class="content-title">
                    <span class="dot-block"></span>
                    <p>联系我们</p>
                    <span>Contact Us</span>
                </div>
                <div class="content-body">
                    <div class="contact-box">
                        <div class="text-line">
                            <span>咨询热线：0574-87296000</span>
                            <span>邮箱：fhes@fhes.com.cn</span>
                        </div>
                        <div class="text-line">
                            <span>传　　真：0574-87361882</span>
                            <span>网址：www.fhes.com </span>
                        </div>
                        <div class="text-line">
                            <span>售后服务：4000330835</span>
                        </div>
                        <div class="text-line">
                            地　　址：宁波市高新区凌云路1177号凌云产业园6栋3楼东区
                        </div>
                        <div class="map-box" id="map">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block plugCss %}
<link rel="stylesheet" href="//pcstatic.fhes.com/css/about_index.min.css"> {% endblock %} {% block plugJs %}
<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=1Gmz71GTqPvpzUp3H7wNKSOqMNpsDhcb"></script>
<script type="text/javascript" src="//cdn.fhes.com/layer/layer.js"></script>
<script type="text/javascript" src="//pcstatic.fhes.com/js/about_index.min.js"></script>
{% endblock %}