{% extends './_layout.html' %} {% block title %} 产品分类 {% endblock %} {% block content %}
<div class="banner-bar">
    <div class="banner-main">
        <div>产品分类</div>
        <p>Product Categories</p>
    </div>
</div>
<div class="other-main">
    <div class="class-list clearfix">
        <div class="class-item item-01" data-hd="http://p8vbi0sf0.bkt.clouddn.com/images/class/01.jpg">
            <a href="#">
                <div class="tip-bar">激光
                    <u>{{lang.readmore}}></u>
                </div>
            </a>
            <div class="mask-layer"></div>
        </div>
        <div class="class-item item-02" data-hd="http://p8vbi0sf0.bkt.clouddn.com/images/class/02.jpg">
            <a href="#">
                <div class="tip-bar">CIJ
                    <u>{{lang.readmore}}></u>
                </div>
            </a>
            <div class="mask-layer"></div>
        </div>
        <div class="class-item item-03" data-hd="http://p8vbi0sf0.bkt.clouddn.com/images/class/03.jpg">
            <a href="#">
                <div class="tip-bar">DP
                    <u>{{lang.readmore}}></u>
                </div>
            </a>
            <div class="mask-layer"></div>
        </div>
    </div>
</div>
{% endblock %} {% block plugCss %}
<link rel="stylesheet" href="/pc/build/css/class_index.min.css"> {% endblock %}