{% extends './_layout.html' %} {% block title %} 下载 {% endblock %} {% block content %}
<div class="banner-bar" style="background-image:url('/pc/build/images/lowjpg/banner/07.jpg')" data-hd="/pc/build/images/banner/07.jpg">
    <div class="banner-main">
        <div>下载</div>
        <p>Download</p>
    </div>
</div>
<div class="other-main">
    <div class="down-list">
        <div class="item clearfix">
            <p>标题</p>
            <div class="right-box">
                <span>文件类型</span>
                <span>文件大小</span>
                <span class="no-pr">操作</span>
            </div>
        </div>
        <div id="list">

        </div>
        <div class="loading-layer"></div>
    </div>
    <div id="page" class="page-ctrl" data-count="{{downCount}}"></div>
</div>
{% endblock %} {% block plugCss %}
<link rel="stylesheet" href="/pc/build/css/download_index.min.css">
<script type="text/javascript" src="//at.alicdn.com/t/font_685071_n04zuxmp0wo2yb9.js"></script>
<link rel="stylesheet" href="/cdn/layui/css/layui.css" media="all"> {% endblock %} {% block plugJs %}
<script type="text/javascript" src="/cdn/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="/pc/build/js/download_index.min.js"></script>
{% endblock %}