<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title || entitle}}</title>
</head>

<body>
    <div class="time">最后编辑时间：{{= edittime|date('Y-m-d h:m:s') =}} 发布时间：{{= createtime|date('Y-m-d h:m:s') =}}</div>
    <h2>{{title || title}}</h2>
    <h4>{{subtitle || ensubtitle}}</h4>
    <div class="content">
        {% autoescape %}{{ content }}{% endautoescape %}
    </div>
</body>

</html>