{% extends './_layout.html' %} {% block title %} 产品分类 {% endblock %} {% block content %}
<div class="banner-bar" style="background-image:url('/pc/build/images/lowjpg/banner/05.jpg')" data-hd="/pc/build/images/banner/05.jpg">
    <div class="banner-main">
        <div>技术服务/支持</div>
        <p>Technical Services</p>
    </div>
</div>
<div class="other-main">
    <ul class="left-nav">
        <li id="Installation_hash" class="active">
            <a href="#Installation">
                <p>安装调试</p>
                <span>Installation</span>
            </a>
        </li>
        <li id="Software_hash">
            <a href="#Software">
                <p>软件联调</p>
                <span>Software</span>
            </a>
        </li>
        <li id="Production_hash">
            <a href="#Production">
                <p>产线改造</p>
                <span>Production</span>
            </a>
        </li>
        <li id="Platform_hash">
            <a href="#Platform">
                <p>定制平台</p>
                <span>Custom platform</span>
            </a>
        </li>
    </ul>
    <div class="right-content">
        <div class="content-block" id="Installation">
            <div class="content-title">
                <span class="dot-block"></span>
                <p>安装调试</p>
                <span>Installation</span>
            </div>
            <div class="content-body"></div>
        </div>
        <div class="content-block" id="Software">
            <div class="content-title">
                <span class="dot-block"></span>
                <p>软件联调</p>
                <span>Software</span>
            </div>
            <div class="content-body"></div>
        </div>
        <div class="content-block" id="Production">
            <div class="content-title">
                <span class="dot-block"></span>
                <p>产线改造</p>
                <span>Production</span>
            </div>
            <div class="content-body"></div>
        </div>
        <div class="content-block" id="Platform">
            <div class="content-title">
                <span class="dot-block"></span>
                <p>定制平台</p>
                <span>Custom platform</span>
            </div>
            <div class="content-body"></div>
        </div>
    </div>
</div>
{% endblock %} {% block plugCss %}
<link rel="stylesheet" href="/pc/build/css/service_index.min.css"> {% endblock %}
{% block plugJs %}
<script type="text/javascript" src="/pc/build/js/service_index.min.js"></script>
{% endblock %}