{% extends './_layout.html' %} {% block title %} 服务/支持 {% endblock %} {% block content %}
<div class="banner-bar" style="background-image:url('/pc/build/images/lowjpg/banner/05.jpg')" data-hd="/pc/build/images/banner/05.jpg">
    <div class="banner-main">
        <div>技术服务/支持</div>
        <p>Technical Services</p>
    </div>
</div>
<div class="other-main">
    <div class="center-container">
        <div class="text-box item-01">
            软件联调
            <span>Software</span>
        </div>
        <div class="text-box item-02">
            安装调试
            <span>Installation</span>
        </div>
        <div class="text-box black item-03">
            定制平台
            <span>Custom platform</span>
        </div>
        <div class="text-box black item-04">
            产线改造
            <span>Production</span>
        </div>
        <div class="text-box item-05">
            <a href="/download">
                下载
                <span>Download</span>
            </a>
        </div>
        <div class="text-box black item-06">
            打样测试
            <span>Proof testing</span>
        </div>
        <div class="text-box item-07">
            定制方案
            <span>Customized plan</span>
        </div>
    </div>
</div>
{% endblock %} {% block plugCss %}
<link rel="stylesheet" href="/pc/build/css/service_index.min.css"> {% endblock %} {% block plugJs %}
<script type="text/javascript" src="/pc/build/js/service_index.min.js"></script>
{% endblock %}