{% extends './_ManageLayout.html' %} {% block title %} 添加文章 {% endblock %} {% block plugCss %}
<link rel="stylesheet" href="//pcstatic.fhes.com/css/article_add.min.css">
<script type="text/javascript" src="//at.alicdn.com/t/font_656017_r9b441jjqsolayvi.js"></script>
{% endblock %} {% block childTitle %} 添加文章 {% endblock %} {% block toolsBar %}
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">添加英文</label>
        <div class="layui-input-block">
            <input type="checkbox" lay-filter="addEn" id="openEn" name="switch" lay-skin="switch" lay-text="ON|OFF">
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label upload-cover">新闻封面</label>
        <div class="layui-input-block cover">
            <div class="layui-upload-drag" id="upload-cover">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <span>最佳封面图大小360(宽)*250(高)</span>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">中文标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="" placeholder="请输入中文标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">中文副标题</label>
        <div class="layui-input-block">
            <input type="text" name="subtitle" lay-verify="" placeholder="请输入中文副标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">中文内容</label>
        <div class="layui-input-block">
            <div id="zhContent" class="input-content"></div>
        </div>
    </div>

    <div class="en-block">
        <div class="line-box">
            <span>英文文章内容</span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">英文标题</label>
            <div class="layui-input-block">
                <input type="text" name="entitle" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">英文副标题</label>
            <div class="layui-input-block">
                <input type="text" name="ensubtitle" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">英文内容</label>
            <div class="layui-input-block">
                <div id="enContent" class="input-content"></div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit" id="btn-submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="btn-reset">重置</button>
        </div>
    </div>
</form>
{% endblock %} {% block plugJs %}
<script type="text/javascript" src="//cdn.fhes.com/wangEditor/js/plupload.full.min.js"></script>
<script type="text/javascript" src="//cdn.fhes.com/wangEditor/wangEditor.min.js"></script>
<script type="text/javascript" src="//cdn.fhes.com/wangEditor/js/qiniu.min.js"></script>
<script type="text/javascript" src="//cdn.fhes.com/wangEditor/js/upQiniu.js"></script>
<script type="text/javascript" src="//pcstatic.fhes.com/js/article_add.min.js"></script>
{% endblock %}