{% extends './_ManageLayout.html' %} {% block title %} 添加文章 {% endblock %} {% block plugCss %}
<link rel="stylesheet" href="/pc/build/css/article_add.min.css"> {% endblock %} {% block childTitle %} 添加文章 {% endblock %} {% block toolsBar %}
<div class="layui-form">
    <div class="layui-form-item">
        <label class="layui-form-label">添加英文</label>
        <div class="layui-input-block">
            <input type="checkbox" lay-filter="addEn" id="openEn" name="switch" lay-skin="switch" lay-text="ON|OFF">
        </div>
    </div>
</div>
{% endblock %} {% block content %}
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">中文标题</label>
        <div class="layui-input-block">
            <input type="text" name="title" lay-verify="" placeholder="请输入中文标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">中文副标题</label>
        <div class="layui-input-block">
            <input type="text" name="subtitle" lay-verify="" placeholder="请输入中文副标题" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">中文内容</label>
        <div class="layui-input-block">
            <!-- <textarea name="desc" placeholder="请输入内容" id="zhContent"></textarea> -->
            <div id="zhContent" class="input-content"></div>
        </div>
    </div>

    <div class="en-block">
        <div class="line-box">
            <span>英文文章内容</span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">英文标题</label>
            <div class="layui-input-block">
                <input type="text" name="entitle" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">英文副标题</label>
            <div class="layui-input-block">
                <input type="text" name="ensubtitle" placeholder="请输入标题" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">英文内容</label>
            <div class="layui-input-block">
                <div id="enContent" class="input-content"></div>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit" id="btn-submit">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary" id="btn-reset">重置</button>
        </div>
    </div>
</form>
{% endblock %} {% block plugJs %}
<script type="text/javascript" src="/cdn/wangEditor/wangEditor.min.js"></script>
<script>
    $(function () {
        var E = window.wangEditor
        var _menu = [
            'head', // 标题
            'bold', // 粗体
            'fontSize', // 字号
            'fontName', // 字体
            'italic', // 斜体
            'underline', // 下划线
            'strikeThrough', // 删除线
            'foreColor', // 文字颜色
            'backColor', // 背景颜色
            'link', // 插入链接
            'list', // 列表
            'justify', // 对齐方式
            'quote', // 引用
            'image', // 插入图片
            'table', // 表格
            'undo', // 撤销
            'redo' // 重复
        ]
        var zhContent = new E('#zhContent')
        zhContent.customConfig.onfocus = function () {
            $(zhContent.toolbarSelector).addClass('focus')
        }
        zhContent.customConfig.onblur = function () {
            $(zhContent.toolbarSelector).removeClass('focus')
        }
        zhContent.customConfig.menus = _menu

        var enContent = new E('#enContent')
        enContent.customConfig.onfocus = function () {
            $(enContent.toolbarSelector).addClass('focus')
        }
        enContent.customConfig.onblur = function () {
            $(enContent.toolbarSelector).removeClass('focus')
        }
        enContent.customConfig.menus = _menu

        zhContent.create()
        enContent.create()

        layui.use('form', function () {
            var form = layui.form;
            form.on('submit(submit)', function (data) {
                let content = zhContent.txt.html();
                let encontent = enContent.txt.html();
                for (var i in data.field) {
                    if (!data.field[i]) {
                        delete data.field[i]
                    }
                }
                if (zhContent.txt.text()) {
                    data.field.content = content;
                }
                if (enContent.txt.text()) {
                    data.field.encontent = encontent;
                }
                if ($('#openEn')[0].checked) {
                    if (!(data.field.title || data.field.entitle)) {
                        layer.msg('中文标题和英文标题不能都为空')
                        return false;
                    }
                    if (data.field.entitle) {
                        if (!data.field.encontent) {
                            layer.msg('有英文标题必须有英文内容')
                            return false;
                        }
                    }
                    if (data.field.encontent) {
                        if (!data.field.entitle) {
                            layer.msg('有英文内容必须有英文标题')
                        }
                    }
                } else {
                    if (!data.field.title) {
                        layer.msg('标题不能为空')
                        return false;
                    }
                }
                if (data.field.title) {
                    if (!data.field.content) {
                        layer.msg('有中文标题必须有中文内容')
                        return false;
                    }
                }
                if (data.field.content) {
                    if (!data.field.title) {
                        layer.msg('有中文内容必须有中文标题')
                        return false;
                    }
                }

                if (!$('#openEn')[0].checked) {
                    delete data.field.encontent
                    delete data.field.entitle
                    delete data.field.ensubtitle
                }

                if (data.field.title && data.field.entitle) {
                    data.field.language = '11'
                } else if (data.field.title && !data.field.entitle) {
                    data.field.language = '10'
                } else {
                    data.field.language = '01'
                }

                // console.log(data.field);
                // return false
                $.ajax({
                    type: "POST",
                    url: "/manage/addarticle",
                    dataType: "json",
                    data: data.field,
                    success: function (data) {
                        if (data.ok === 200) {
                            targetParent('articleList')
                        } else {
                            alert(data.msg)
                        }
                    }
                });
                return false;
            });
            form.on('switch(addEn)', function (data) {
                if (data.elem.checked) {
                    $('.en-block').fadeIn('fast')
                } else {
                    $('.en-block').fadeOut('fast')
                }
            });
        });
        // $(window).bind('beforeunload', function () {
        //     return '';
        // });
    })
</script>
{% endblock %}