<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fhes后台管理系统登录</title>
    <link rel="stylesheet" href="/pc/build/css/common.min.css{{dev}}">
    <link rel="stylesheet" href="/pc/build/css/manage_login.min.css{{dev}}">
</head>

<body>
    <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <div class="login-box">
            <img src="/pc/build/images/logo_back.png" alt="" class="img-logo">
            <form id="login">
                <div class="input-line">
                    <input type="text" name="username" autocomplete="off" placeholder="请输入管理员账号" autofocus>
                </div>
                <div class="input-line">
                    <input type="password" name="password" placeholder="请输入管理员密码">
                </div>
                <div id="post" class="btn-login"></div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="//cdn.fhes.com/canvasBg/TweenLite.min.js{{dev}}"></script>
    <script type="text/javascript" src="//cdn.fhes.com/canvasBg/EasePack.min.js{{dev}}"></script>
    <script type="text/javascript" src="//cdn.fhes.com/canvasBg/canvas_bg.js{{dev}}"></script>
    <script type="text/javascript" src="//cdn.fhes.com/jquery-3.3.1.min.js{{dev}}"></script>
    <script type="text/javascript" src="//cdn.fhes.com/jquery.cookie.min.js{{dev}}"></script>
    <script type="text/javascript">
        $(function () {
            if (self != top) {
                top.location.href = location.href
            }

            $('#login').on('keyup', 'input', function (e) {
                if (e.keyCode === 13) {
                    $('#post').click();
                }
            })
            $('#post').on('click', function () {
                var arr = $('#login').serializeArray(),
                    post = {};
                arr.map(function (item, i) {
                    post[item.name] = item.value;
                })
                $.ajax({
                    type: "POST",
                    url: "/manage/login",
                    dataType: "json",
                    data: post,
                    success: function (data) {
                        if (data.ok === 200) {
                            window.location.href = '/manage'
                        }else{
                            alert(data.msg)
                        }
                    }
                });
            })
        })
    </script>
</body>

</html>