<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>FHES后台管理系统</title>
    <link rel="stylesheet" href="/cdn/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/pc/build/css/back_common.min.css">
</head>

<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">FHES 后台管理系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item">
                    <a href="/manage">首页</a>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        {{username}}
                    </a>
                    <!-- <dl class="layui-nav-child">
                        <dd>
                            <a href="">基本资料</a>
                        </dd>
                        <dd>
                            <a href="">安全设置</a>
                        </dd>
                    </dl> -->
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:void(0);" id="logout">退出登录</a>
                </li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item">
                        <a class="" href="javascript:;">文章管理</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;" id="articleList" data-href="/manage/article">文章列表</a>
                            </dd>
                            <dd>
                                <a href="javascript:;" id="addArticle" data-href="/manage/addarticle">添加文章</a>
                            </dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" id="downloadList" data-href="/manage/download">文档下载管理</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">云市场</a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="">发布商品</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <iframe src="/manage/index" frameborder="0" id="back-main"></iframe>
        </div>

        <!-- <div class="layui-footer">
            FHES后台管理系统
        </div> -->
    </div>
    <script type="text/javascript" src="/cdn/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/cdn/jquery.cookie.min.js"></script>
    <script type="text/javascript" src="/cdn/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript">
        var hash = window.location.hash;
        $(function () {
            $('#logout').on('click', function (e) {
                $.cookie('Authorization', null)
                alert('退出成功！')
                location.reload();
            })
            layui.use('element', function () {
                var element = layui.element;
                if (hash) {
                    let _parentEle = $(hash)[0]
                    $(_parentEle).parents('.layui-nav-item').addClass('layui-nav-itemed')
                    _parentEle.click()
                }
            });
            $('[data-href]').on('click', function () {
                window.location.hash = $(this).attr('id');
                $('#back-main')[0].src = $(this).data('href');
            })
            // console.log($.cookie('Authorization'));
        })
    </script>
</body>

</html>