{% extends './_layout.html' %} {% block title %} FHES首页 {% endblock %} {% block content %}
<div class="video-container">
    <video id="my-player" class="video-js" controls preload="auto" poster="/wap/build/images/video_cover.jpg"
        data-setup='{}'>
        <source src="http://p8vbsyyqf.bkt.clouddn.com/fhes.mp4" type="video/mp4"></source>
        <p class="vjs-no-js">
            若要查看此视频，请启用JavaScript，或者考虑升级网页浏览器
            <a href="http://videojs.com/html5-video-support/" target="_blank">
                supports HTML5 video
            </a>
        </p>
    </video>
    <div class="video-bottom" data-hd="/wap/build/images/video_bottom.jpg"></div>
</div>
<div class="content-block hangye">
    <div class="block-title">
        {{lang.application}}
    </div>
    <div class="block-main clearfix">
        <div class="item">
            <a href="/class/1">
                <p>{{lang.food}}</p>
                <img src="/wap/build/images/window/01.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="/class/2">
                <p>{{lang.seed}}</p>
                <img src="/wap/build/images/window/02.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="/class/3">
                <p>{{lang.packaging}}</p>
                <img src="/wap/build/images/window/03.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="/class/4">
                <p>{{lang.bottle}}</p>
                <img src="/wap/build/images/window/04.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="/class/5">
                <p>{{lang.salt}}</p>
                <img src="/wap/build/images/window/05.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="/class/6">
                <p>{{lang.parts}}</p>
                <img src="/wap/build/images/window/06.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<div class="content-block chanpin">
    <div class="block-title">
        {{lang.productseries}}
    </div>
    <div class="block-main clearfix">
        <div class="item">
            <a href="/class/8">
                <p>{{lang.laserseries}}</p>
                <img src="/wap/build/images/class/01.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="/class/9">
                <p>{{lang.CIJseries}}</p>
                <img src="/wap/build/images/class/02.jpg" alt="">
            </a>
        </div>
        <div class="item">
            <a href="/class/7">
                <p>{{lang.DPseries}}</p>
                <img src="/wap/build/images/class/03.jpg" alt="">
            </a>
        </div>
    </div>
</div>
<div class="content-block fangan">
    <div class="block-main">
        <div class="clearfix">
            <div class="left">
                <div class="item lang">
                    <img src="/wap/build/images/lowjpg/app_03.jpg" alt="">
                    <div class="title">{{lang.qrmarketing}}</div>
                </div>
            </div>
            <div class="right">
                <div class="item">
                    <img src="/wap/build/images/lowjpg/app_02.jpg" alt="">
                    <div class="title">{{lang.qrassignment}}</div>
                </div>
                <div class="item">
                    <img src="/wap/build/images/lowjpg/app_05.jpg" alt="">
                    <div class="title">{{lang.datamonitoring}}</div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="left">
                <div class="item">
                    <img src="/wap/build/images/lowjpg/app_04.jpg" alt="">
                    <div class="title">{{lang.productqr}}</div>
                </div>
            </div>
            <div class="right">
                <div class="item">
                    <img src="/wap/build/images/lowjpg/app_01.jpg" alt="">
                    <div class="title">{{lang.counterfeitingsystem}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-bg"></div>
</div>
<div class="content-block news">
    <div class="block-title">
        {{lang.latestnews}}
    </div>
    <div class="block-main">
        <div class="swiper-container" id="slide-news">
            <div class="swiper-wrapper">
                {% for item in newsList %}
                <div class="swiper-slide">
                    <div class="news-item">
                        <a href="/news/{{item.id}}">
                            <img src="{{item.cover}}" class="main-img"> {% if client_lang === 'zh'%}
                            <p>{{item.title}}</p>
                            {% else %}
                            <p>{{item.entitle}}</p>
                            {% endif %}
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block plugCss %}
<link href="/cdn/video/video-js.min.css{{dev}}" rel="stylesheet">
<link rel="stylesheet" href="/cdn/swiper/swiper.min.css">
<link rel="stylesheet" href="/wap/build/css/home_index.min.css">{% endblock %} {% block plugJs %}
<script src="/cdn/video/video.min.js{{dev}}"></script>
<script type="text/javascript" src="/cdn/swiper/swiper.min.js"></script>
<script type="text/javascript" src="/wap/build/js/home_index.min.js"></script>
{% endblock %}
</body>

</html>