{% extends './_layout.html' %} {% block title %} 市场开发 {% endblock %} {% block content %}
<div class="banner-bar" style="background-image:url('//wapstatic.fhes.com/images/lowjpg/banner/04.jpg')" data-hd="//wapstatic.fhes.com/images/banner/04.jpg">
    <div class="banner-main">
        <div>市场开发</div>
        <p>Market Development</p>
    </div>
</div>
<div class="other-main">
    <div class="title-block" id="coverage">
        市场覆盖<br>
        <p>Market coverage</p>
    </div>
    <img src="//wapstatic.fhes.com/images/lowjpg/map.jpg" alt="" data-hd="//wapstatic.fhes.com/images/map.jpg">
    <div class="hottel-block" id="hottel">
        经销商查询热线：0574-87296000
    </div>
    <div class="title-block" id="partner">
        合作伙伴<br>
        <p>Partner</p>
    </div>
    <img src="//wapstatic.fhes.com/images/lowjpg/partner.jpg" alt="" data-hd="//wapstatic.fhes.com/images/partner.jpg">
</div>
{% endblock %} {% block plugCss %}
<link rel="stylesheet" href="//wapstatic.fhes.com/css/market_index.min.css"> {% endblock %}